In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("C:/Users/DeLL cOrE I5/Downloads/Paper1/bank.csv")

In [4]:
df = pd.read_csv("C:/Users/DeLL cOrE I5/Downloads/Paper1/MonthWiseMarketArrivals_Clean.csv",sep = ';')

In [7]:
df.describe()

       market,month,year,quantity,priceMin,priceMax,priceMod,state,city,date
count                                               10227
unique                                              10227
top     ABOHAR(PB),January,2005,2350,404,493,446,PB,AB...
freq                                                    1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10227 entries, 0 to 10226
Data columns (total 1 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   market,month,year,quantity,priceMin,priceMax,priceMod,state,city,date  10227 non-null  object
dtypes: object(1)
memory usage: 80.0+ KB

In [10]:
df.value_counts()

market,month,year,quantity,priceMin,priceMax,priceMod,state,city,date
ABOHAR(PB),April,2006,2100,326,400,366,PB,ABOHAR,April-2006              1
NAGPUR,December,2005,12921,571,650,610,MS,NAGPUR,December-2005           1
NAGPUR,August,2009,87228,527,796,661,MS,NAGPUR,August-2009               1
NAGPUR,August,2010,63489,668,968,808,MS,NAGPUR,August-2010               1
NAGPUR,August,2011,23065,1080,1318,1200,MS,NAGPUR,August-2011            1
                                                                        ..
HUBLI(KNT),March,2004,17050,207,518,425,KNT,HUBLI,March-2004             1
HUBLI(KNT),March,2005,17100,143,351,293,KNT,HUBLI,March-2005             1
HUBLI(KNT),March,2006,20300,120,346,294,KNT,HUBLI,March-2006             1
HUBLI(KNT),March,2007,37130,272,771,670,KNT,HUBLI,March-2007             1
YEOLA(MS),September,2015,25374,1606,4621,4044,MS,YEOLA,September-2015    1
Length: 10227, dtype: int64

In [12]:
df.head()

  market,month,year,quantity,priceMin,priceMax,priceMod,state,city,date
0  ABOHAR(PB),January,2005,2350,404,493,446,PB,AB...
1  ABOHAR(PB),January,2006,900,487,638,563,PB,ABO...
2  ABOHAR(PB),January,2010,790,1283,1592,1460,PB,...
3  ABOHAR(PB),January,2011,245,3067,3750,3433,PB,...
4  ABOHAR(PB),January,2012,1035,523,686,605,PB,AB...

In [13]:
df.isnull().sum()

market,month,year,quantity,priceMin,priceMax,priceMod,state,city,date    0
dtype: int64

In [ ]:
y1 = df['y']

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
get_ipython().run_line_magic('matplotlib', 'inline')

In [ ]:
num_var = ["age","duration","campaign", "pdays", "previous","emp.var.rate", "cons.price.idx", "cons.conf.idx", "euribor3m", "nr.employed"]

In [ ]:
for i in num_var:
  sns.boxplot(x = y1,y = i,data = df)
  plt.show();

In [ ]:
plt.figure(figsize = (10,10))
sns.heatmap(df.corr())
plt.show()

In [ ]:
cat_var=[i for i in df.columns if i not in num_var]

In [ ]:
y1 = y1.values

In [22]:
df1 = pd.get_dummies(df)

In [ ]:
df1.info()

In [ ]:
ax = sns.regplot(x="emp.var.rate", y="y_yes", order=1, data=df1, truncate=True)

In [ ]:
sns.regplot(x="nr.employed", y="y_yes", order=1, data=df1, truncate=True)

In [ ]:
sns.regplot(x="age", y="y_yes", order=3, data=df1, truncate=True);

In [ ]:
sns.regplot(x="duration", y="y_yes", order=1, data=df1, truncate=True);

In [ ]:
sns.regplot(x="contact_telephone", y="y_yes", order=1, data=df1, truncate=True)

In [ ]:
sns.regplot(x="month_sep", y="y_yes", order=1, data=df1, truncate=True)

In [ ]:
sns.regplot(x="cons.conf.idx", y="y_yes", order=1, data=df1, truncate=True)

In [ ]:
sns.regplot(x="education_unknown", y="y_yes", order=1, data=df1, truncate=True)

In [ ]:
sns.regplot(x="euribor3m", y="y_yes", order=1, data=df1, truncate=True)

In [ ]:
sns.regplot(x="age", y="y_yes", order=3, data=df1, truncate=True);

In [ ]:
sns.regplot(x="campaign", y="y_yes", order=1, data=df1, truncate=True)

In [ ]:
df1.loc[(df1['campaign'] >15) & (df1['y_yes']==1)]

In [ ]:
y_yes1 = df1['y_yes']
y_no1 = df1['y_no']

In [ ]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=350,
                                random_state=0)
forest.fit(df1,y1)
importances = forest.feature_importances_
std = np.std([tree.feature_importances_ for tree in forest.estimators_],
             axis=0)
indices = np.argsort(importances)[::-1]

In [ ]:
print("Feature ranking:")
for f in range(df1.shape[1]):
    print("%d. %s: %f " % (f + 1, df1.columns[indices[f]], importances[indices[f]]))

In [ ]:
plt.figure()
plt.figure(figsize=(15,10))
plt.title("Feature importances")
plt.bar(range(df1.shape[1]), importances[indices],color="b", yerr=std[indices], align="center")
plt.xticks(range(df1.shape[1]), indices)
plt.xlim([-1, df1.shape[1]])
plt.show()

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df1, y1, test_size=0.2, random_state=1, stratify=y1)

In [ ]:
from sklearn.metrics import accuracy_score

for i in range(10,300,10):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train, y_train)

    print(accuracy_score(knn.predict(X_test),y_test))

In [ ]:
t = pd.DataFrame()
t['y_yes'] = y_yes1
t['y_no'] = y_no1
t.head()

In [ ]:
print("For age upto 30")
print("Nth Call \t Efficiency")
for i in range(1,30):
    num = float(df1[(df1['age'] <= 30) & (df1['campaign']==i) & (t['y_yes']==1)].shape[0])
    den = 1+float(df1[(df1['age'] <= 30) & (df['campaign'] >= i)].shape[0])
    print (str((i))+" \t\t "+str(num/den))

In [ ]:
print("For age between 30-40")
print("Nth Call \t Efficiency")
for i in range(1,30):
    num = float(df1[(df1['age'] <= 40) & (df1['age'] > 30) & (df1['campaign']==i) & (t['y_yes']==1)].shape[0])
    den = 1+float(df[(df['age'] <= 40) & (df['age'] > 30) & (df['campaign'] >= i)].shape[0])
    print (str((i))+" \t\t "+str(num/den))

In [ ]:
total_calls = sum(df1['campaign'])
print(total_calls)

In [ ]:
extra_calls = sum(df1[df1['campaign']>6]['campaign']) - 6*df1[df1['campaign']>6].shape[0]
print(extra_calls)

In [ ]:
reduction=100*extra_calls/total_calls
print(reduction)

In [ ]:
total_sales=float(t[t['y_yes']==1].shape[0])
print(total_sales)

In [ ]:
less_costly_sales=float(df[(df['campaign'] <= 6) & (t['y_yes']==1)].shape[0])
print(less_costly_sales)

In [ ]:
sales_percent=100*less_costly_sales/total_sales
print(sales_percent)